<div id="banner">
    <ul>
        <li><a id="normhead" href='@Url.Action("Admin", "Staff")'>Admin Panel</a></li>
    </ul>
</div>

<div id="nav">
    <h1 id="normhead" style="text-align:center">Bon Voyage</h1>
    <br /><br /><br /><br />
    <ul style="list-style-type:none">
        <li><a id="list1" href='@Url.Action("MgDeals", "Staff")'>Manage Deals</a></li>
        <br />
        <li><a id="list1" href='@Url.Action("Search", "Staff")'>Search Deals</a></li>
        <br />
        <li><a id="list1" href='@Url.Action("MgGuides", "Staff")'>Manage Guides</a></li>
        <br />
        <li><a id="list1" href='@Url.Action("LogOut", "Home")'>Log Out</a></li>
        <br />
    </ul>
</div>