@model List<Bon_Voyage.Models.staff>
@{
    if (Session["guideSession"] == null)
    {
        <script>
            window.location = '@Url.Action("Login", "Home")'
        </script>
    }
}
<!DOCTYPE html>
<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="~/Content/style3.css">
    <title>Guide | Bon Voyage</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        label {
            display: inline-block;
            float: left;
            clear: left;
            width: 250px;
            text-align: right;
        }

        input {
            display: inline-block;
            float: left;
        }
    </style>
</head>

<body>

    <div id="banner">
        <ul>
            <li><a id="normhead" href='@Url.Action("Guide", "Staff")'>Guide @Request.Cookies["guideName"].Value</a>
          </li>
         </ul>
            
    </div>

    <div id="nav">
        <h1 id="normhead" style="text-align:center">Bon Voyage</h1>
        <br /><br /><br /><br />
        <ul style="list-style-type:none">
            <li><a id="list1" href='@Url.Action("ChangePassword", "Staff")'>Change Password</a></li>
            <br />
            <li><a id="list1" href='@Url.Action("LogOut", "Home")'>Log Out</a></li>
            <br />
        </ul>
    </div>

    <div id="main">

        <p>
            Guides Management:
        </p><br />
        <label>New Password</label>
        <input type="text" required id="newPass">
        <br /><br />
        <label>Confirm Password</label>
        <input type="text" required id="conPass">

        <br /><br />
        <button style="text-align:center;margin-left:200px;width:115px;" onclick="verifyPass()"> Remove Guide </button>

    </div>
    <script>
    function verifyPass(){
        var np = $("#newPass").val();
        var cp = $("#conPass").val();
        var name = '@Request.Cookies["guideName"].Value';
        console.log(name);
        if (np != cp)
        {
            alert("Passwords do not match!");
        }
        else {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("VerifyPassword", "Staff")',
                data: {
                    name: name,
                    newPass: np
                },
                success: function (result) {
                    alert("Password Changed!");
                },
                failure: function (result) {
                    alert("failure");
                }

            });
        }
    }
    </script>
</body>

</html>